@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppins-regular';
    src: url('../../public/fonts/Poppins-Regular.ttf');
}

:root {
    font-family: 'poppins-regular' ;
}